<div class="col-md-12">
	<h1>ISFIT 2015 <%= t("event.calendar") %></h1>
	<hr>
</div>
<div class="col-md- no_padding">
	<%= link_to "date/#{Date.parse('05-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>5</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('06-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date orange">
				<h1>6</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('07-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>7</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('08-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date orange">
				<h1>8</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
</div>
<div class="col-md-12 no_padding">
	<%= link_to "date/#{Date.parse('09-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date orange">
				<h1>9</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('10-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>10</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('11-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date orange">
				<h1>11</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('12-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>12</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
</div>
<div class="col-md-12 no_padding">
	<%= link_to "date/#{Date.parse('13-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>13</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('14-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date orange">
				<h1>14</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<%= link_to "date/#{Date.parse('15-02-2015')}" do%>
		<div class="col-md-3 calendar-date">
			<div class="inner-date blue">
				<h1>15</h1>
				<h4><%= t("event.februar") %></h4>
			</div>
		</div>
	<% end %>
	<div class="col-md-3 calendar-date">
		<div class="inner-date not-isfit">
			<h1>16</h1>
			<h4><%= t("event.februar") %></h4>
		</div>
	</div>
</div>