<div class="container" id="page-wrapper">
	<div class="col-md-12">
		<% old_event_date = nil %>
		<h1> Isfit 2015 Arrangementer </h1>
			<% @events.each do |date| %>
				<% event = date.event %>
				<% if old_event_date.nil? || !old_event_date.to_s.eql?(date.start_at.strftime('%d').to_s) %>
					<% old_event_date = date.start_at.strftime('%d') %>
					<div class="col-md-12">
						<h2> 
							<%= t("event.#{date.start_at.strftime('%A')}") %> <%= date.start_at.strftime('%d') %>. Februar 
						</h2>
						<hr>
					</div>
				<% end %>
				<div class="col-md-12">

					
					<h3><%= event.title %></h3>
					<%= date.start_at %>
					<%= event.event_place.name %>
				</div>
			<% end %> 
	</div>


</div>