<div class="container" id="page-wrapper">
	<div class="col-md-12">
		<% old_event_date = nil %>
		<div class="col-md-12">
			<h1> ISFiT 2015 <%= t("event.presents") %> </h1>
		</div>
		<% @events.each_with_index do |date, i| %>
			<% event = date.event %>
			<% if old_event_date.nil? || !old_event_date.to_s.eql?(date.start_at.strftime('%d').to_s) %>
				<% old_event_date = date.start_at.strftime('%d') %>
				<div class="col-md-12">
					<h3> 
						<%= t("event.#{date.start_at.strftime('%A')}") %> <%= date.start_at.strftime('%d') %>. Februar 
					</h3>
				</div>
				<% if i == 0 %> 
					<div class="col-md-12 cal_info">
						<div class="col-md-4">
							<h4><%= t("event.what") %></h4>
						</div>
						<div class="col-md-4">
							<h4><%= t("event.when") %></h4>
						</div>
						<div class="col-md-4">
							<h4><%= t("event.where") %></h4>
						</div>
					</div>
				<% end %>
			<% end %>
			<a href="/2015/<%=date.id%>">
				<div class="col-md-12 calendar_<%=event.event_type.name_en.downcase%> event_cal_button">	
					<div class="col-md-4">
						<h5 class="h5_bigscreen"><%= event.title %></h5>
						<h5 class="h5_hidden"><%= t("event.what")%>: <%= event.title %></h5>
					</div>
					<div class="col-md-4">
						<h5 class="h5_bigscreen"><%= t("event.time") %>. <%= date.start_at.strftime('%H:%M') %></h5>
						<h5 class="h5_hidden"><%= t("event.when") %>: <%= date.start_at.strftime('%H:%M') %></h5>
					</div>
					<div class="col-md-4">
						<h5 class="h5_bigscreen"><%= event.event_place.name %></h5>
						<h5 class="h5_hidden"><%= t("event.where") %>: <%= event.event_place.name %></h5>
					</div>
					<hr>
				</div>
			</a>
			<div class="col-md-12 no_padding">
			</div>
		<% end %> 
	</div>
</div>