<h1>ISFiT 2015 Events</h1>
<% if @events.empty? %>
  <p><%= t("event.noevents") %> </p>
<% else %>
  <div class="col-md-8" id="event-list">
    <% @events.each do |date| %>
      <% event = date.event %>
      <a href="/2015/<%=date.id%>" class="event-link">
        <% if event.event_type.nil? || event.event_type.name.nil? %>
          <div class="col-md-12 other event_category event-field">
        <% else %>
          <div class="col-md-12 <%=event.event_type.name.downcase%> event_category event-field">
        <% end %>
          <div class="col-md-8">
            <h3><%= event.title %></h3>
          </div>
          <div class="col-md-4">
            <p class="price_events">
              <b>Price Member:</b> <%= event.price_member %><br>
              <b>Price Other:</b> <%= event.price_other %><br>
            </p>     
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div class="event-preview col-md-4 visible-lg" id="event-preview">
    <% @events.each_with_index do |date, i| %>
      <% event = date.event %>
      <% if i == 0 %>
        <div class="event_content">
          <div class="col-md-6">
          <%= image_tag "http://bellabionda.de/wp-content/uploads/2010/09/Strand-Toskana-Tirrenia-bei-Pisa-im-September-225x300.jpg", :style => 'width: 100%' %>
          </div>
          <div class="col-md-6">
            <div class="event-details">
              <p><i class="fa fa-map-marker">&nbsp&nbsp</i> <%= event.event_place.name %></p>
              <p><i class="fa fa-calendar"></i> <%= date.start_at.strftime('%d feb') %></p>
              <p><i class="fa fa-clock-o"></i> <%= date.start_at.strftime('%H:%M') %> 
                <% if date.end_at %>
                  - <%= date.end_at.strftime("%H:%M") %>
                <% end %>
              </p>
            </div>
            <p>
              <b>Price Member:</b> <%= event.price_member %><br>
              <b>Price Other:</b> <%= event.price_other %><br>
            </p>
          </div>
        </div>
      <% else %>
        <div class="event_content event_hidden">
          <div class="col-md-6">
          <%= image_tag "http://bellabionda.de/wp-content/uploads/2010/09/Strand-Toskana-Tirrenia-bei-Pisa-im-September-225x300.jpg", :style => 'width: 100%' %>
          </div>
          <div class="col-md-6">
            <div class="event-details">
              <p><i class="fa fa-map-marker">&nbsp&nbsp</i> <%= event.event_place.name %></p>
              <p><i class="fa fa-calendar"></i> <%= date.start_at.strftime('%d feb') %></p>
              <p><i class="fa fa-clock-o"></i> <%= date.start_at.strftime('%H:%M') %> 
                <% if date.end_at %>
                  - <%= date.end_at.strftime("%H:%M") %>
                <% end %>
              </p>
            </div>
            <p>
              <b>Price Member:</b> <%= event.price_member %><br>
              <b>Price Other:</b> <%= event.price_other %><br>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>