<div class="col-md-12">
	<div class="row">
		<div class="col-md-12 no_padding event-box">
			<div class="col-md-7 no_padding event-img">
				<%= image_tag @event.image(:cover), :style => "width:100%" %>
			</div>
			<div class="col-md-5 event-info no_padding">
				<h1><%= @event.title %> </h1>
				<p><%= @event.event_type.name %> </p>
	      <div class="event-details">
	        <p><i class="fa-map-marker"></i> <%= @event.event_place.name %></p>
	        <p><i class="fa-calendar "></i> <%= @datetime.start_at.strftime('%d feb') %></p>
	        <p><i class="fa-clock-o"></i> <%= @datetime.start_at.strftime('%H:%M') %> 
	          <% if @datetime.end_at %>
	            - <%= @datetime.end_at.strftime("%H:%M") %>
	          <% end %>
	        </p>
	      </div>
      
    <div>
				<div class="tickets">
	        <table>
	          <tr>
	            <td>Member</td>
	            <td><%=@event.price_member%>,-</td>
	          </tr>
	          <tr>
	            <td>Non-member</td>
	            <td><%=@event.price_other%>,-</td>
	          </tr>
	        </table>
        	<% if @datetime.url && @datetime.url != "" %>
          	<a href="<%= @datetime.url %>">
            	<div class="event-button round">Buy ticket</div>
          	</a>
        	<% end %>
      	</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
        <section class="body"><%= format @event.body%></section>
    </div>
	</div>
</div>