<nav class="navbar navbar-default navbar-frontpage" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "LOGOhvit24px.png" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav event-types">
        <li class="navbar_elements navbar_sceneshow">
          <a href="/performing_arts/">
            <div class="eventtype">
              <%=t("navbar.sceneshow")%>
            </div>
          </a>
        </li>
        <li class="navbar_elements navbar_concert">
          <a href="/concert/">
            <%=t("navbar.concert")%>
          </a>
        </li>
        <li class="navbar_elements navbar_elements navbar_art"><a href="/art/"><%=t("navbar.art")%></a></li>
        <li class="navbar_elements navbar_debate"><a href="/debate/"><%=t("navbar.debate")%></a></li>
        <li class="navbar_elements navbar_ceremony"><a href="/ceremony/"><%=t("navbar.ceremony")%></a></li>
        <li class="navbar_elements navbar_other"><a href="/other/"><%=t("navbar.other")%></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
